# == GLOBAL IGNORE FOR WHOLE PROJECT == #

# Node modules (frontend + backend)
node_modules/
**/node_modules/

# Build output
dist/
build/
dist-ssr/

# Environment Variables
.env
**/.env

# Backend uploads folder
uploads/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# OS / Editor
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
